<launch>

  <!-- Start webcam (gscam) node -->
  <include file="$(find openrov)/launch/webcam.launch" respawn="true" />

  <!-- Start rosbridge node-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- Start teleoperation node -->
  <include file="(find openrov)/launch/teleop.launch" />

  <!-- Start RQT for viewing (include config RQT config file to specify image defaults et) -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" />

  <!-- Start ORB_SLAM Visual Odometry -->
  <include file="(find ORB_SLAM)/ORB_OpenROV_FireflyMV.launch" />
</launch>
