<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="openrov_joy"  >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <node pkg="openrov" type="teleop" name="teleop" output="screen" />
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>

  <!-- Default controller settings exist, but here you can change axis/buttons, and gains

  <param name="x_controllerAxis" value="1" />
  <param name="z_controllerAxis" value="4" />

  and so on... see src/teleop.cpp for full listing of availaible parameters
  See http://wiki.ros.org/joy for controller axes/button mappings

  -->

</launch>

